# directories
cache
cache_hardhat
artifacts
coverage
node_modules
out
broadcast/ManagerSpells.s.sol/

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock
doc.md
TODO.md
